:root {
  --white-color: #fcfcfc;
  --black-color: #131313;
  --gray-color: #817e7e;
  --light-gray-color: #f7f7f7;
  --line-color: #e2e2e2;
  --hover-gray: #ececec;
  --menu-padding: 10px 20px;
  --mainpage-margin: 5% 8%;
  --pink-color: #f13f7a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1% 8%;
  position: sticky;
  top: 0;
  transition: 0.2s;
}

#navbar_logo {
  display: flex;
  align-items: center;
}

#navbar_logo i {
  font-size: 40px;
}

#navbar_logo span {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}

#navbar_center {
  display: flex;
  padding: 0px 0px 0px 50px;
}

#navbar_center li {
  padding: var(--menu-padding);
}

#navbar_right {
  display: flex;
  align-items: center;
}

#navbar_right li i {
  padding: var(--menu-padding);
}

#navbar_menu {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 20px;
  padding-left: 9px;
}

#navbar_menu li i {
  padding: 5px;
  color: var(--gray-color);
}

#searchMenu {
  display: flex;
  justify-content: center;
  background-color: var(--black-color);
  padding-top: 10px;
  padding-bottom: 20px;
  transition: 0.2s;
}

input:focus {
  outline: none;
}

#searchMenu input {
  border: none;
  font-size: 15px;
  width: 150px;
  background-color: transparent;
}

#searchMenu div {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  font-weight: bold;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px;
}

#searchMenu div ul {
  background-color: var(--white-color);
  padding: 10px 30px;
  font-size: 12px;
}

#searchMenu div ul:hover {
  background-color: var(--hover-gray);
  border-radius: 30px;
}

#searchMenu .addline {
  border-left: 1px solid var(--line-color);
  padding-left: 20px;
}

#searchMenu div ul li {
  font-weight: normal;
  font-size: 13px;
  color: var(--gray-color);
}

#searchMenu div i {
  background-color: var(--pink-color);
  padding: 15px;
  border-radius: 30px;
  color: var(--white-color);
}

#searchMini {
  display: none;
  color: var(--black-color);
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid var(--line-color);
  transition: 0.2s;
}

#searchMini div {
  padding-left: 20px;
  padding-right: 120px;
  font-size: 14px;
}

#searchMini i {
  color: var(--white-color);
  background-color: var(--pink-color);
  padding: 10px;
  border-radius: 20px;
}

.mainpage_1 {
  background-color: var(--black-color);
  padding-bottom: 100px;
}
.mainpage_1_1 {
  color: var(--white-color);
  text-align: center;
  background-image: url(./img/main1.jpg);
  border-radius: 10px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  margin: 0 8%;
}

.mainpage_1_1 p {
  padding-top: 550px;
  padding-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
}

.mainpage_1_1 span {
  padding: 15px 30px;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 30px;
  font-weight: bold;
}

.title {
  margin-bottom: 40px;
  margin-left: auto;
  font-size: 250%;
}

.mainpage_2 {
  margin: var(--mainpage-margin);
}

.mainpage_2 ul {
  display: flex;
  justify-content: space-between;
}

.mainpage_2 ul li {
  color: var(--white-color);
  border-radius: 15px;
  width: 24%;
  padding-bottom: 10%;
}

.mainpage_2 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.city_1 {
  background-color: #ec443e;
}

.city_2 {
  background-color: #d350a1;
}

.city_3 {
  background-color: #f08548;
}

.city_4 {
  background-color: #f8b256;
}

.mainpage_2 ul li div {
  font-size: 200%;
  font-weight: bold;
  margin: 10px;
}

.mainpage_2 ul li p {
  margin-left: 10px;
}

.mainpage_3 {
  margin: var(--mainpage-margin);
  padding: 0;
}

.mainpage_3 ul {
  display: flex;
  justify-content: space-between;
}

.mainpage_3 ul li {
  width: 49%;
  padding: 1% 1% 50% 3%;
  border-radius: 5%;
}

.mainpage_3 p {
  position: relative;
  top: 30px;
  font-size: 300%;
  color: var(--white-color);
  font-weight: bold;
}

.mainpage_3 ul li span {
  position: relative;
  top: 60px;
  font-weight: bold;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 15px;
}

.try_1 {
  background-image: url(./img/try1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.try_2 {
  background-image: url(./img/try2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mainpage_4 {
  margin: var(--mainpage-margin);
  padding: 0 0 120px 0;
  background-image: url(./img/question.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 15px;
}

.mainpage_4 p {
  padding: 5% 0 2% 6%;
  font-size: 500%;
  font-weight: bold;
  margin-bottom: 10%;
  color: var(--white-color);
}

.mainpage_4 span {
  background-color: var(--white-color);
  margin-left: 8%;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.bottomMenu {
  background-color: var(--light-gray-color);
}

.bottomMenu1st {
  display: flex;
  padding: 50px 8%;
}

.bottomMenuTitle {
  font-weight: bold;
}

.bottomMenu1st li {
  padding: 10px;
  font-size: 14px;
  margin-right: 200px;
}

.bottomMenu2nd {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid var(--line-color);
  margin: 0 8%;
  padding: 20px 0;
  align-items: center;
}

.bottomMenu2nd ul li {
  float: left;
  padding-right: 10px;
  font-size: 14px;
}

.bottomRightMenu {
  display: flex;
  font-size: 14px;
  text-decoration: underline;
}

.bottomRightMenu i {
  margin: 0 10px 0 20px;
}
